:root{
    /* Paleta de colores */
    --custom-white: #f1e9daff;
    --custom-light-coral: #f67e7dff;
    --custom-sunglow: #fdca40ff;
    --custom-tangerine: #f18805ff;
    --custom-auburn: #9e2a2bff;
    --custom-red: #ba1f33ff;
    --custom-carmine: #91171fff;
    --sea-green: #008148ff;
    --custom-oxford-blue: #313131;
    --custom-black: #212121;
    --custom-rich-black: #161515;
    --custom-accent-black: #121111;
    --custom-darkest-dark: #070707;

    --titulo: 1rem;

    /* Transiciones personalizadas */
    --custom-transition-04s: 0.4s;
    --custom-transition-03s: 0.3s;
    --custom-transition-04s: 0.4s;

    --custom-margin-2020: 2% 0% 2% 0%;

    --ease-slider: cubic-bezier(0.4, 0, 0.2, 1);
    --ease-timeline: cubic-bezier(0.71, 0.21, 0.3, 0.95);

}
/* devanagari */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/lato-black.woff2") format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/lato-regular.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/lato-light.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/fonts/lato-thin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html{
    font-size: 62.5%; /*1rem = 10px*/
    background-color: var(--custom-black);
    color: var(--custom-white);
    font-family: 'Lato', sans-serif;
    ;
    
}
body{
    visibility: hidden; /*display: none; */
    font-size: 16px; /*1rem = 10px*/
    margin: 0px;
    height: 100%;   
}
@keyframes fadeInNonlinear {
  0% {
      opacity: 0;
  }
  30% {
      opacity: 0.1;
  }
  40% {
      opacity: 0.48;
  }
  65% {
      opacity: 0.75;
  }
  75% {
      opacity: 0.85;
  }
  100% {
      opacity: 1;
  }
}

.fade-in-nonlinear {
  opacity: 0;
  animation: fadeInNonlinear 0.4s ease forwards;
}
h1{
    font-weight: 700;

}
h3, h4, h5{
    font-weight: 400;

}
h6{
  font-size: 10px;
  color: #fff;
  text-decoration: none;
  margin: 0 1px;
  font-weight: 100;

}
a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin: 0 5px;
  }
p{
    font-weight: 300;
}

/*--------------------- PADDINGS ---------------------*/
.nopadding{
  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.padding-20{
  padding-left: 20%;
  padding-right: 20%;
}
.padding-10{
  padding-left: 10%;
  padding-right: 10%;
}

.padding-top{
  padding-top: clamp(2%, 4%, 3%);
}
.padding-bottom{
  padding-bottom: clamp(2%, 4%, 3%);
}

/* HEIGHTS MIN*/
/*----------------------- HEIGHTS MIN-----------------*/
/* HEIGHTS MIN*/
.min-height-20em{
  min-height: 20em;
}
.min-height-30em{
  min-height: 30em;
}
.min-height-35em{
  min-height: 35em;
}
.min-height-42em{
  min-height: 42em;
}

.margin-2-0-2-0 {
  margin: var(--custom-margin-2020);
}

.gap-4vw{
  gap: 4vw;
}
/*--------------------- FLEXS BASE --------------------- */
.flex-wrapOn{
  flex-wrap: wrap;
}
.flex-wrapOn{
  flex-wrap: wrap;
}
.flex{
  display: flex;
  align-items: center;
}
.flex-standard{
  display:flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;
}
.custom-black{
  background-color: var(--custom-black);
}
/* Css utilizado para texto del FOOTER*/
.hover-orange{
  color: var(--custom-white);
  transition: all var(--custom-transition-03s) cubic-bezier(0.68, 0.25, 0.2, 0.87);
}
/* Css utilizado para texto del FOOTER*/
.hover-orange:hover{
  color: var(--custom-tangerine);
}
.custom-padding{
  padding: 2px;
  margin: 2px;
}
.wrapper{
  padding-top: 2%;
    padding-bottom: 2%;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container{
    min-height: 15%;
    width: 100%;
    height: 100%;
}


.body-color{
  
  background-color:#000000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/*---------------------PROPIEDADES DE LA NAVBAR---------------------*/
.button{
  margin: 0px;
  padding: 3 6px;
  background-color: var(--custom-rich-black);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.icon{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: clamp(1.7em, 1em + 1.2vw, 2.7em);
    height: auto;
    transition: all var(--custom-transition-03s) ease;  
}
.icon:hover {
  filter: invert(0.5) grayscale(100%);
  transition: all var(--custom-transition-03s) ease;
  transform: translateY(-5px);
}
.icon-logo-mobile{
    width: clamp(1.1em, 1.2em + 2vw, 4em);
    height: auto;
    transition: all 0.7s ease;
}
.icon-logo-desktop{
    width: clamp(4em, 9em + 1.6vw, 12em);
    height: auto;
    display: none;
    transition: all var(--custom-transition-03s) ease;
}
.icon-logo-mobile:hover,
.icon-logo-desktop:hover{
    filter: invert(0.5) brightness(10);
}

/*---------------------PROPIEDADES DE LA NAVBAR---------------------*/
#navbar-container{ /* INSERT CONTENT HERE */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    min-height: clamp(1em, 2em + 2vw, 4em);
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 40px;
    background-color: var(--custom-rich-black);
    
}

.nav-container{
    height: 100%;
    padding: 0.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1.1vw;
  }
  .right-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1.1vw;
  }
  .banner-mobile{
    display: none;

  }
  .banner-desktop {
    display: block;
    
  }
/*---------------------SECTION DE INFORMACIÓN SOBRE EL ANIME/SERIE---------------------*/

  .information-body{
    display:flex;
    flex-direction: column;
  }
  .title-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(1.3em , 1vw , 3.5em);
  }
  .description-box{
    text-align: justify;
  }
/*--------------------- SEASONS SELECTOR ---------------------*/
.dropbtn {
  background-color: var(--custom-rich-black);
  color: white;
  font-weight: 700;
  padding: 16px;
  font-size: 16px;
  border: none;
  transition: all var(--custom-transition-03s) ease;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #070707;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--custom-white);
  background-color: #070707;;
  font-weight: 400;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.4s ease;
}

.dropdown-content a:hover {
  background-color: var(--custom-black);
  transition: all 0.4s ease;
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: var(--custom-oxford-blue);}
/*--------------------- EPISODES MODULE ---------------------*/
  .chapter-container{
    background-color: var(--custom-black);
  }
  #chapter-module{
    width: 100%;
    container: chapter / inline-size;
  }
  .chapter-list {
    display: flex;
    flex-direction: column;
    margin: 2%;
    gap: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    align-items: start;
    justify-content: center;
}
  .chapter-item{
    
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    transition: all var(--custom-transition-03s) ease;
    align-items: center;
  }
  .chapter-item:hover{
    background-color: var(--custom-rich-black);
  }
  .chapter-item > picture {
    align-items: center;
    width: 100%;
    /* height: 100%; */
    max-width: 35rem;
}
  .chapter-item:hover .preview-banner{ 
    transition:all var(--custom-transition-04s) ease;
    filter: brightness(1);
    scale: 105%;
   }
  .chapter-item:hover .button{
    transition: all var(--custom-transition-03s) ease;
    background-color: var(--custom-tangerine);
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
  .preview-banner{
    width: 100%;
    height: auto;
    filter: contrast(0.85);
    aspect-ratio: 16 / 9;
  }
  .chapter-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.85em;
    flex-direction: column;
}

.chapter-text > h4 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: 400;
}

/*--------------------- FOOTER ---------------------*/
  .footer-container {
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 2rem;
    background-color: #000000;;
  }
/* FOOTER */
  .footer-box {
    padding: 10px;
  }
/* FOOTER */
  .footer-aditional {
    background-color: #000000;;
    padding:30px;
    flex-basis: 100%;
    text-align: center;
  }
/*------------------- REPRODUCTOR DE EPISODIOS ---------------------*/
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 37.5%;
    
  }
  .video-player{
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;


  }
  .current-media-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: max(68% , 1080px);
    

  }
  .current-media-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: --var(custom-margin-2020);
    justify-content: space-between;
    
  }
  .current-media-parent-ref{
    display: flex;
    gap: 0.34rem;
  }

  .next-episode{
    height: min(280px , 20%);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    justify-content: space-around;
  }
  .containerNext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }



/*  CSS HEADER SERIES WITH BLURRED BACKGROUND */
  .main-background {
    background: url();
    filter: blur(4px) opacity(0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    
    
  }  
  .main-content {
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px) ;
    width: clamp(30%, 60% + 1vh, 80%);
    box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126), 0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224), 0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: 0.5s ease;
  }

.key-art {
  display: flex;
    position: relative;
    width: 100%;
    min-height: auto;
    place-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

}


/*Página PRINCIPAL- CAROUSEL FOR SERIES AND POSTS*/
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.carousel {
  padding: 2vw;
}
.carousel h2 {
  margin: 0;
}
.carousel a {
  text-decoration: none;
  color: #fff;
}
.carousel img {
  background-size: cover;
  background-position: center;
  -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    margin-bottom: 10px;
    border-radius: clamp(0px, ((100vw - 4px) - 100%) * 9999, 4px);
    width: 160px;
}
.carousel h3 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 4px;
}
.carousel span {
  color: #a7a7a7;
  font-size: 14px;
}
.carousel .dragging a {
  pointer-events: none;
}
.carousel .carousel__wrapper {
  position: relative;
  margin-bottom: 2vw;
}
@media only screen and (min-width: 1180px) {
  .carousel .carousel__wrapper.has-arrows .carousel__content {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1180px) {
  .carousel .carousel__wrapper.has-arrows .carousel__arrows {
    display: flex;
  }
}
.carousel .carousel__header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.carousel .carousel__content {
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: grid;
  -webkit-overflow-scrolling: touch;
  cursor: grab;
  padding: 0;
  margin: 0;
  grid-gap: 1px;
  grid-auto-flow: column;
  list-style: none;

}
.carousel .carousel__content::-webkit-scrollbar {
  display: none;
}
.carousel .carousel__item .carousel__description {
  width: 100%;
}
.carousel .carousel__item a {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  user-select: none;
  margin: 10px 0px;
  padding: 16px;

  border-radius: clamp(0px, ((100vw - 4px) - 100%) * 9999, 8px);
  cursor: pointer;
}
.carousel .carousel__item a:hover {
  background: var(--custom-rich-black);
  transition: all 0.2s ease-in;
}
.carousel .carousel__controls {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 24px;
}
.carousel .carousel__arrow {
  padding: 0;
  background: transparent;
  box-shadow: none;
  border: 0;
}
.carousel .carousel__arrow:before {
  content: "";
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTUgOSI+Cgk8cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNNy44NjcgOC41NzRsLTcuMjItNy4yMi43MDctLjcwOEw3Ljg2NyA3LjE2IDE0LjA1Ljk4bC43MDYuNzA3Ii8+Cjwvc3ZnPgo=");
  background-size: contain;
  filter: brightness(5);
  display: block;
  width: 18px;
  height: 12px;
  cursor: pointer;
}
.carousel .carousel__arrow.arrow-prev:before {
  transform: rotate(90deg);
}
.carousel .carousel__arrow.arrow-next:before {
  transform: rotate(-90deg);
}
.carousel .carousel__arrow.disabled::before {
  filter: brightness(2);
}



#main {
	background: url(/images/homepage/vinland1.webp) center center / cover;
	background-size: cover, cover;
	background-position: center, center;
	min-height: 65vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  margin: 0;
  padding: 0;
  border-width: 0;
  filter: grayscale(0.5);

}
/* linear-gradient(to bottom, transparent , rgba(33, 33, 33, 0.966)),  */
#main::after {
  background:linear-gradient(0deg,hsl(0, 0%, 13%,.987) 1.62%,hsl(0, 0%, 13%,.951) 3.1%,hsl(0, 0%, 13%,.896) 4.5%,hsl(0, 0%, 13%,.825) 5.8%,hsl(0, 0%, 13%,.741) 7.06%,hsl(0, 0%, 13%,.648) 8.24%,hsl(0, 0%, 13%,.55) 9.42%,hsl(0, 0%, 13%,.45) 10.58%,hsl(0, 0%, 13%,.352) 11.76%,hsl(0, 0%, 13%,.259) 12.94%,hsl(0, 0%, 13%,.175) 14.2%,hsl(0, 0%, 13%,.104) 15.5%,hsl(0, 0%, 13%,.049) 16.9%,hsl(0, 0%, 13%,.013) 18.38%,hsl(0, 0%, 13%,0) 20%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}


  /* AJUSTES PARA PANTALLAS DE BAJA O ALTA RESOLUCIÓN */
  @media (max-width: 768px){
    .chapter-item{
      display:flex;
      flex-direction: row;
      align-items: center;
    }
    .banner-mobile{
        display: flex;
        width: 100%;
        height: auto;   
    }
    .banner-desktop{
        display: none;
    }
    body{
        font-size: 14px; /*1rem = 10px*/
        margin: 0px;
        height: 100%;
        
    }
    footer{
      flex-direction: column;
      align-items: flex-start;
    }
    .flex-standard{
      flex-direction: column;
      gap: 5rem;
    }
    .video-container{
      padding-top: 85%;
    }
    .wrapper{
      padding-top: 2rem;
      padding-bottom: 2.5rem;
      padding-left: 3%;
      padding-right: 3%;
    } 
    
    .padding-10{
      padding-left: 3%;
      padding-right: 3%;
    }
    .chapter-list{
      display: flex;
      flex-direction: column;
      gap: 1.5rem;      
    }
}

@media (min-width: 10px) and (max-width: 1024px){
  .chapter-text{
    flex-wrap: wrap;
  }
}
  
@media screen and (max-width: 2160px) {
  .chapter-item > picture {
      width: auto; /* O puedes usar "unset" si quieres eliminar completamente la propiedad */
  }
}

  @media (min-width:800px){
    .icon-logo-desktop{
        display:block;

    }
    .icon-logo-mobile{
        display: none;

    }
    .banner-desktop{
        display: block;
    }
    
    


}
  @media (min-width: 2160px) {
    .dropbtn {
      font-size: 5.6rem;
    }
    .dropdown-content a{
      font-size: 3rem;
      padding: 3.5rem 5rem;
    }
    body{
        font-size: 42px; /*1rem = 10px*/
        margin: 0px;
        height: 100%;
        
    }
    .icon {
      width: 6rem; /* Tamaño de los iconos en pantallas de alta resolución */
      height: auto;
    }
    .icon-logo-desktop{
        width: 36rem;
        height: auto;
    }
    .nav-container{
        display: flex;
        height: 100%;
        max-height: 4em;
        position: relative;
        top: 0.5em;
    }
    .left-icons {
      display: flex;
      align-items: center;
      gap: 4rem;
    } 
    .right-icons {
      display: flex;
      align-items: center;
      gap: 4rem;
    }
  .padding-20 {
    padding-top: 12rem;
    padding-bottom: 15rem;
}
.padding-12 {
  padding-top: 12rem;
  padding-bottom: 15rem;
}
    .chapter-item {
      gap: 9rem;
      align-items: center;
    }
    .chapter-item > picture{
      max-width: 70rem;
    }
    .button{
      font-size: 3rem;
      border-radius: 12px;
    }
    .video-player{
      max-width: 100%;
    }
    .video-container{
      padding-top: 45%;
    }
    .current-media-info{
      max-width: 340rem;
    }
    
    
    
}

/*CSS PARA TENER UN BACKGROUND ANIMADO DE TIPO MP4 O WEBM*/
/*.container {
    position: relative;
    width: 100%;
    height: 50rem;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .image {
    position: absolute;
    width: 50%;
    height: 50%;
    object-fit: cover;
  }*/
  
  /*.content-image__image--7tGlg{
    max-width: 20rem;
  }*/

  /* Container Query: Modificar estilos cuando el ancho del contenedor es mayor o igual a 400px */
@container (max-width: 560px) {
  .chapter-text {
    flex-wrap: wrap;
  }
  .chapter-list {
    display:flex;
  }
  .chapter-item{
    align-items: center;
    flex-direction: row;
  }

}


/* width */
::-webkit-scrollbar {
  width: auto;
}


/* Track */
::-webkit-scrollbar-track {
  background: var(--custom-black); 
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #535353; 
  border-radius: 0.4em;
  transition: all 0.3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: all 0.3s ease;
  margin: 2%;
  background: #bdbdbd; 
}